# Object files
*.o
*.ko
*.obj
*.elf
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.elf
*.bin
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.launch

# Directories
firmware/.settings
firmware/external/openocd/
firmware/libs/
firmware/obj/
firmware/bin/
pics/